{
  "env": {
    "production": {
      "presets":["@babel/preset-react"],
      "plugins": ["emotion","@babel/plugin-proposal-class-properties"]
    },
    "development": {
      "presets":["@babel/preset-react"],
      "plugins": [["emotion", { "sourceMap": true }],"@babel/plugin-proposal-class-properties"]
    }
  }
}
