<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <style>
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      h1, h2, h3 {
        font-weight: 300;
        text-align: left;
      }
      a {
        text-decoration: none;
      }
      b {
        font-weight: 500;
      }
      body {
        background-color: rgb(246, 248, 248);
        margin: 0;
        font-family: 'roboto',sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
